@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
:root {
	--mainColor: #48435c;
	--secondary: #5a5766;
	--contrast: #f9f9f9;
	--background: #1c1c1c;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
